body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    background: black;
    padding: 20px;
    word-spacing: 10px;
    /* color: red; */
}
a{
    text-decoration: none;
}
.container
{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.logo{
    font-size: 50px;
    padding: 10px;
    margin-left: 30px;
    font-family: fantasy;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    font-size: 20px;
    color: white;
    padding: 30px;
}
li a:hover{
    color: blue;
}
.logo a{
    text-decoration: none;
    color: red;
}
.imgcontainer {
    /* height: 100vh; */
    width: 100%;
}
.imgcontainer img{
    width: 100%;
}
.best{
    position: absolute;
    color: red;
    top: 25%;
    left: 36%;
    font-size: 50px;
}
.new{
    position: absolute;
    color: white;
    top: 30%;
    left: 25%;
    font-size: 70px;
}
.product-section{
    /* padding: 0px 50px; */
    border-radius: 30px;
}

.product-row{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    font-size: 22px;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 30px;

}
.productPage{
    padding: 0px 30px;
}

/* .bottom{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
} */
.right img, .left img{
    border-radius: 50px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 40px;
    margin-top: 4rem;
    user-select: none;
  
    .copy{
      text-align: center;
    }
  }
  footer .logo {
    font-size: 50px;
    font-family: fantasy;
  }
  .footer_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .cmp p a{
      color: white;
      cursor: pointer;
      
    }
    .cmp p a:hover{
      color: red;
    }
    
  }